/* style.css */

/* Mengatur tinggi peta */
#map {
  height: 500px;
  width: 100%;
  margin: 20px 0;
  border: 2px solid #333;
  border-radius: 10px;
}

/* Styling halaman */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}
